{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistic/new</title>
    <link rel="stylesheet" href={% static "css/statistic_new.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body>
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="menu">
            
            <div class="circle">
                <h1>Spendly</h1>
            </div>
            
            
            <div class="top">
                <a href={% url 'home' %}>
                <button class="button_menu pasive">
                    <img src={% static "img/main_page.png"  %} alt="">
                    <span>Main page</span>
                </button>
                </a>
                
                
              <a href={% url 'statistics' %}>
                <button class="button_menu active">
                    <img src={% static "img/statistics.png"  %} alt="">
                    <span>Statistic</span>
                </button>
              </a>
            </div>
            
            <div class="bottom">
                <button class="button_menu pasive" id="openDialogClear">
                    <img src={% static "img/clear.svg" %} alt="">
                    <span>Clear history</span>
                </button>

                <button class="button_menu pasive" id="openDialogDelete">
                    <img src={% static "img/delete.png" %} alt="">
                    <span>Delete account</span>
                </button>

                <button class="button_menu pasive" id="openLogOut">
                    <img src={% static "img/log_out.svg" %} alt="">
                    <span>Log out</span>
                </button>
            </div>

        </div>

        <div class="main">

            <header>
                <h2>Statistic</h2>
            </header>

            <div class="wrapper_content_main">

                <div class="comparison_and_financial">

                    <div class="comparison_chart">
                        <div class="header_chart">
                            <h3>Comparison Chart</h3>

                            
                            
                            <button class="calendar" id="datepicker">
                       
                                <img src={% static "img/calendar.svg.png" %} alt="">
                               
                            </button>
                        </div>

                        <hr>
                        <div class="diagram">
                            <canvas id="myChart"></canvas>
                        </div>


                    </div>

                    <div class="financial">
                        <div class="header_financeal_and_category">
                            <h3>Financial Breakdown</h3>
                        </div>

                        <hr>
                        <div class="diagram_wrapper">

                            <div class="diagram_doughnut">
                                <canvas id="myDoughnutChart"></canvas>
                            </div>
                            <div class="diagram_text">
                                <div class="text_diagram">
                                    <p>Total Revenue <br>
                                        <span>UAH 0</span> %
                                    </p>
                                </div>

                                <div class="text_diagram">
                                    <p>Total Expense <br>
                                        <span>UAH 0</span> %
                                    </p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="category">

                    <div class="header_number1">
                        <div class="header_financeal_and_category">
                            <h3>Category rating</h3>
                        </div>
                        <hr>
                    </div>

                    <h4>You don't use any category yet</h4>
                    
                </div>
            </div>

             <!-- діалогове вікно "Очищення історії" -->
             <dialog id="clearHistory" class="clearHistory">
                <div class="dialog_header">
                    <button id="closeDialogClear" class="close">
                        <img src={% static "img/pngwing.com.png" %} alt="">
                    </button>
                    <h4>Warning</h4>
                </div>
                <hr>
                <div class="сontent">
                    <p>You really want to clear history?</p>
                    <button>Clear</button>
                </div>
            </dialog>

            <!-- діалогове вікно "Видалення акаунту" -->
            <dialog id="deleteAcount" class="deleteAcount">
                <div class="dialog_header">
                    <button id="closeDialogDelete" class="close">
                        <img src={% static "img/pngwing.com.png" %} alt="">
                    </button>
                    <h4>Warning</h4>
                </div>
                <hr>
                <div class="сontent">
                    <p>You really want to delete your account?</p>
                    <a href={% url "delete_profile" %}>
                        <button>Delete</button>
                    </a>
                    </form>
                </div>
            </dialog>

            <!-- діалогове вікно "Вихід з акаунту" -->
            <dialog id="logOut" class="logOut">
                <div class="dialog_header">
                    <button id="closeDialogLogOut" class="close">
                        <img src={% static "img/pngwing.com.png" %} alt="">
                    </button>
                    <h4>Warning</h4>
                </div>
                <hr>
                <div class="сontent">
                    <p>You really want to log out of your account?</p>
                    <a href={% url 'logout' %}>
                        <button>Log out</button>
                    </a>
                </div>

            </dialog>

        </div>

    </div>
   


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.js"></script>

    <script>
        //реалізація календаря
        document.addEventListener('DOMContentLoaded', function () {
            var picker = new Litepicker({
                element: document.getElementById('datepicker'),
                singleMode: false,
                autoApply: true,
            });
        });


        //diagram до календаря
        const ctx = document.getElementById('myChart').getContext('2d');

        const labels = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'];


        const data = {
    labels: labels,
    datasets: [{
        label: 'Доходи',
        data: [100, 50, 40, 70, 60, 30, 80], // дані для доходів
        backgroundColor: 'rgb(113, 113, 113)',
        borderColor:'rgb(163, 163, 163)',
        borderWidth: 1
    },
    {
        label: 'Витрати',
        data: [50, 60, 70, 30, 40, 50, 20], // дані для витрат
        backgroundColor: 'rgb(163, 163, 163)',
        borderColor: 'rgb(113, 113, 113)',
        borderWidth: 1
    }]
};

        const myChart = new Chart(ctx, {
            type: 'bar',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chart.js Bar Chart'
      }
    }
  },
        });

        //donut diagram
        const newdata = {
            labels: [
                'Revenue',
                'Expense',
                
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 100],
                backgroundColor: [
                    'rgb(113, 113, 113)',
                    'rgb(163, 163, 163)'
                ],
                hoverOffset: 4
            }]
        };

        const config = {
            type: 'doughnut',
            data: newdata,
            options: {
                cutoutPercentage: 80,
    		elements: {
        	arc: {
          	borderWidth: 12,
          },
        },
        legend: {
        	display: false,
        },
        animation: {
        	onComplete: function(animation) {
          	if (!window.segmentHovered) {
              var value = this.config.data.datasets[0].data.reduce(function(a, b) { 
                return a + b;
              }, 0);
              var label = 'T O T A L';

              textInCenter(value, label);
            }
          },
        },
        tooltips: {
        	enabled: false,
        	custom: function(tooltip) {
          	if (tooltip.body) {
              var line = tooltip.body[0].lines[0],
              	parts = line.split(': ');
              textInCenter(parts[1], parts[0].split('').join(' ').toUpperCase());
              window.segmentHovered = true;
            } else {
            	window.segmentHovered = false;
            }
          },
        },
    },

        };

        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('myDoughnutChart').getContext('2d'); // Змінено id на myDoughnutChart
            new Chart(ctx, config);
        });


        //діалогове вікно очищення історії
        document.querySelector('#openDialogClear').onclick = function () {
            document.body.classList.add('dialog-open');
            document.querySelector('.overlay').style.display = 'block';
            document.getElementById('clearHistory').showModal();
        }

        document.querySelector('#closeDialogClear').onclick = function () {
            document.body.classList.remove('dialog-open');
            document.querySelector('.overlay').style.display = 'none';
            document.getElementById('clearHistory').close();
        }

        //діалогове вікно видалення акаунта
        document.querySelector('#openDialogDelete').onclick = function () {
            document.body.classList.add('dialog-open');
            document.querySelector('.overlay').style.display = 'block';
            document.getElementById('deleteAcount').showModal();
        }

        document.querySelector('#closeDialogDelete').onclick = function () {
            document.body.classList.remove('dialog-open');
            document.querySelector('.overlay').style.display = 'none';
            document.getElementById('deleteAcount').close();
        }

        //діалогове вікно "вийти з акаунта"
        document.querySelector('#openLogOut').onclick = function () {
            document.body.classList.add('dialog-open');
            document.querySelector('.overlay').style.display = 'block';
            document.getElementById('logOut').showModal();
        }

        document.querySelector('#closeDialogLogOut').onclick = function () {
            document.body.classList.remove('dialog-open');
            document.querySelector('.overlay').style.display = 'none';
            document.getElementById('logOut').close();
        }

      

    </script>
</body>

</html>
