{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistic page</title>
    <link rel="stylesheet" href={% static "css/statistic_page.css" %}?{% now "U" %}>
    <link rel="stylesheet" href={% static "css/statistic_new.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="menu">
            <div class="circle">
                <h1>Spendly</h1>
            </div>
            <div class="top">
                <button class="button_menu pasive">
                    <img src={% static "img/main_page.png"  %} alt="">
                    <span>Main page</span>
                </button>

                <button class="button_menu active">
                    <img src={% static "img/statistics.png"  %}  alt="">
                    <span>Statistic</span>
                </button>
            </div>

            
            <div class="bottom">
                <button class="button_menu pasive" id="openDialogClear">
                    <img src={% static "img/clear.svg"  %} alt="">
                    <span>Clear history</span>
                </button>

                <button class="button_menu pasive" id="openDialogDelete">
                    <img src={% static "img/delete.png"  %} alt="">
                    <span>Delete account</span>
                </button>

                <button class="button_menu pasive" id="openLogOut">
                    <img src={% static "img/log_out.svg"  %} alt="">
                    <span>Log out</span>
                </button>
            </div>

        </div>

        <div class="main">

            <header>
                <h2>Statistic</h2>
            </header>

            <div class="comparison_chart">
                <div class="header_chart">
                    <h3>Comparison Chart</h3>

                    <button class="calendar" id="datepicker">
                        <span>January - February, 2024</span>
                        <img src={% static "img/calendar.svg.png"  %} alt="">
                    </button>
                </div>

                <hr>

                <div class="diagram">
                    <canvas id="myChart"></canvas>
                </div>

            </div>

            <div class="financial_and_category_container">
                <div class="wrapper">

                <div class="financial_and_category left">
                    <div class="header_financeal_and_category">
                        <h3>Financial Breakdown</h3>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <span class="button_content">
                                    <span class="button_text">Month</span>
                                    <img class="button_img" src={% static "img/next.png"  %} alt="">
                                </span>
                            </button>
                            <div class="dropdown-content">
                                <a href="#">Day</a>
                                <a href="#">Week</a>
                                <a href="#">Month</a>
                                
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="diagram_wrapper">

                        <div class="diagram_doughnut">
                            <canvas id="myDoughnutChart"></canvas>
                        </div>
                        <div class="diagram_text">
                            <div class="text_diagram">
                                <p>Total Revenue <br>
                                    <span>UAH 0</span> %
                                </p>
                            </div>

                            <div class="text_diagram">
                                <p>Total Expense <br>
                                    <span>UAH 0</span> %
                                </p>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="financial_and_category right">
                    <div class="header_financeal_and_category">
                        <h3>Category rating</h3>

                        <div class="dropdown">
                            <button class="dropbtn">
                                <span class="button_content">
                                    <span class="button_text">Month</span>
                                    <img class="button_img" src={% static "img/next.png"  %} alt="">
                                </span>
                            </button>
                            <div class="dropdown-content">
                                <a href="#">Day</a>
                                <a href="#">Week</a>
                                <a href="#">Month</a>
                                
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="categories_inf">
                        <div class="category" style="border: 2px solid rgba(16, 176, 80, 1);">
                            <img src={% static "img/shopping.svg" %} alt="">
                            <span>Shopping</span>
                            <div class="expences"></div>
                            <h6>- UAH 5890</h6>
                        </div>
                        <div class="category" style="border: 2px solid rgba(207, 211, 18, 1);">
                            <img src={% static "img/cafe.svg" %} alt="">
                            <span>Cafe</span>
                            <h6>- UAH 3780</h6>
                        </div>
                        <div class="category" style="border: 2px solid rgba(211, 18, 18, 1);">
                            <img src={% static "img/utility_bils.png" %} alt="">
                            <span>Utility bills</span>
                            <h6>- UAH 2800</h6>
                        </div>
                        <div class="category" style="border: 2px solid rgba(253, 74, 160, 1);">
                            <img src={% static "img/food.png" %} alt="">
                            <span>Food</span>
                            <h6>- UAH 1900</h6>
                        </div>
                        <button class="scroll">
                            <img src={% static "img/next.png" %} alt="">
                        </button>
                    </div>

                </div>
                    </div>

            </div>

            
 <!-- діалогове вікно "Очищення історії" -->
 <dialog id="clearHistory" class="clearHistory">
    <div class="dialog_header">
        <button id="closeDialogClear" class="close">
            <img src={% static "img/pngwing.com.png" %} alt="">
        </button>
        <h4>Warning</h4>
    </div>
    <hr>
    <div class="сontent">
        <p>You really want to clear history?</p>
        <button>Clear</button>
    </div>
</dialog>

<!-- діалогове вікно "Видалення акаунту" -->
<dialog id="deleteAcount" class="deleteAcount">
    <div class="dialog_header">
        <button id="closeDialogDelete" class="close">
            <img src={% static "img/pngwing.com.png" %} alt="">
        </button>
        <h4>Warning</h4>
    </div>
    <hr>
    <div class="сontent">
        <p>You really want to delete your account?</p>
        <button>Delete</button>
    </div>
</dialog>

<!-- діалогове вікно "Вихід з акаунту" -->
<dialog id="logOut" class="logOut">
    <div class="dialog_header">
        <button id="closeDialogLogOut" class="close">
            <img src={% static "img/pngwing.com.png" %} alt="">
        </button>
        <h4>Warning</h4>
    </div>
    <hr>
    <div class="сontent">
        <p>You really want to log out of your account?</p>
        <button>Log out</button>
    </div>
</dialog>

        </div>

    </div>
 


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.js"></script>

    <script>
        //реалізація календаря
        document.addEventListener('DOMContentLoaded', function () {
            var picker = new Litepicker({
                element: document.getElementById('datepicker'),
                singleMode: false,
                autoApply: true,
            });
        });


        //diagram
        const ctx = document.getElementById('myChart').getContext('2d');

        const labels = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'];


        const data = {
    labels: labels,
    datasets: [{
        label: 'Доходи',
        data: [100, 50, 40, 70, 60, 30, 80], // дані для доходів
        backgroundColor: 'rgba(153, 102, 255, 0.2)',
        borderColor: 'rgba(153, 102, 255, 1)',
        borderWidth: 1
    },
    {
        label: 'Витрати',
        data: [-50, -60, -70, -30, -40, -50, -20], // дані для витрат
        backgroundColor: 'rgba(200, 120, 255, 0.2)',
        borderColor: 'rgba(200, 120, 255)',
        borderWidth: 1
    }]
};

        const myChart = new Chart(ctx, {
            type: 'bar',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chart.js Bar Chart'
      }
    }
  },
        });

        //donut diagram
                const newdata = {
            labels: [
                'Revenue',
                'Expense',
                
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 100],
                backgroundColor: [
                    'rgb(138, 43, 226)',
                    'rgb(200, 120, 255)'
                ],
                hoverOffset: 4
            }]
        };

        const config = {
            type: 'doughnut',
            data: newdata,
        };


        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('myDoughnutChart').getContext('2d'); 
            new Chart(ctx, config);
        });


        //кнопка для обирання day/week/month/year
        document.addEventListener("DOMContentLoaded", function () {
            var dropbtns = document.querySelectorAll(".dropbtn"); 

            dropbtns.forEach(function (dropbtn) { 
                var dropdownContent = dropbtn.nextElementSibling;

                dropbtn.addEventListener("click", function () {
                    dropdownContent.classList.toggle("show");
                });

                var menuItems = dropdownContent.getElementsByTagName("a");
                for (var i = 0; i < menuItems.length; i++) {
                    menuItems[i].addEventListener("click", function () {
                        var buttonText = this.textContent; 
                        var buttonImg = this.querySelector("img");
                        var buttonImgSrc = buttonImg ? buttonImg.getAttribute("src") : null;
                        dropbtn.querySelector(".button_text").textContent = buttonText; 
                        var img = dropbtn.querySelector(".button_img");
                        if (buttonImgSrc) {
                            img.setAttribute("src", buttonImgSrc);
                            img.style.display = "inline";
                        } else {
                            img.style.display = "none"; 
                        }
                        dropdownContent.classList.remove("show");
                    });
                }
            });
        });


        //діалогове вікно очищення історії
        document.querySelector('#openDialogClear').onclick = function () {
            document.body.classList.add('dialog-open');
            document.querySelector('.overlay').style.display = 'block';
            document.getElementById('clearHistory').showModal();
        }

        document.querySelector('#closeDialogClear').onclick = function () {
            document.body.classList.remove('dialog-open');
            document.querySelector('.overlay').style.display = 'none';
            document.getElementById('clearHistory').close();
        }

        //діалогове вікно видалення акаунта
        document.querySelector('#openDialogDelete').onclick = function () {
            document.body.classList.add('dialog-open');
            document.querySelector('.overlay').style.display = 'block';
            document.getElementById('deleteAcount').showModal();
        }

        document.querySelector('#closeDialogDelete').onclick = function () {
            document.body.classList.remove('dialog-open');
            document.querySelector('.overlay').style.display = 'none';
            document.getElementById('deleteAcount').close();
        }

        //діалогове вікно "вийти з акаунта"
        document.querySelector('#openLogOut').onclick = function () {
            document.body.classList.add('dialog-open');
            document.querySelector('.overlay').style.display = 'block';
            document.getElementById('logOut').showModal();
        }

        document.querySelector('#closeDialogLogOut').onclick = function () {
            document.body.classList.remove('dialog-open');
            document.querySelector('.overlay').style.display = 'none';
            document.getElementById('logOut').close();
        }


    </script>
</body>

</html>