*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

body,
html {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.menu {
  width: 40%;
  height: 100%;
  background-color: black;
}

.main {
  width: 70%;
  height: 100%;
  background-color: rgba(217, 217, 217, 1);
  position: relative; /* Додайте позицію relative */
}

.circle::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  background: radial-gradient(
    rgba(123, 26, 198, 1) 20%,
    rgba(16, 16, 16, 1) 70%
  );
  border-radius: 50%;
  margin-top: -3%;
  margin-left: 2%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 6vw;
  font-weight: 700;
  line-height: 64px;
  color: rgba(217, 217, 217, 1);
  margin-top: 2vw;
  margin-left: 4vw;
  position: relative;
}
.top {
  margin-top: 5vw;
  margin-left: 2.5vw;
}

.bottom {
  margin-top: 10vw;
  margin-left: 2.5vw;
}

.button_menu {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 300px;
  height: 58px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  color: rgb(232, 231, 231);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column; /* змінив напрямок виведення на вертикальний */
  }

  .menu,
  .main {
    width: 100%; /* змінив ширину на 100% */
  }
}

@media screen and (max-width: 576px) {
  .button_menu {
    font-size: 3vw; /* змінив розмір на відносну одиницю */
    width: 60%; /* змінив ширину на відносну одиницю */
  }
  
}.active {
  background-color: rgb(123, 26, 198);
}

.pasive {
  background-color: rgb(0, 0, 0);
}

.button_menu img {
  font-weight: 400;
  width: 32px;
  height: 32px;
  filter: invert(100%);
  margin-left: 10px;
}

.button_menu span {
  margin-left: 15px;
}

.link {
  display: flex;
}

.clear {
  margin-top: 200px;
}

.main {
  width: 100%;
  height: 100%;
}

header {
  display: block;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 1);
  font-size: 32px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 84px;
  background-color: rgba(232, 231, 231, 1);
}

header h2 {
  margin-top: 20px;
  margin-left: 60px;
  font-weight: 500;
  font-size: 30px;
}

.accounts_cards {
  display: block;
  width: 900px;
  height: 230px;
  background-color: rgba(232, 231, 231, 1);
  font-family: "Montserrat", sans-serif;
  margin: auto;
  margin-top: 30px;
  border-radius: 8px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin-left: 20px;
  padding-top: 20px;
}

hr {
  margin-top: 10px;
}

.wrapper_cards {
  display: flex;
}

.refresh{
  width: 160px;
  height: 50px;
  margin-right: 20px;
  margin-left: 660px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  background-color: rgb(123, 26, 198);
  color: rgba(232, 231, 231, 1);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 100;
}

.card {
  width: 260px;
  height: 148px;
  background: linear-gradient(to left,rgba(123, 26, 198, 1),rgba(214, 172, 247, 0.1));
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 30px;
  color: black;
}

.card_top {
  display: flex;
}

.card_top h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 1);
  margin-top: 10px;
  margin-left: 15px;
}

.card_top img {
  width: 46px;
  margin-left: 50px;
  margin-top: 20px;
}

.balance h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 5px;
}

.bank_account_number {
 margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.wrapper_number_and_bin{
  display: flex;
  justify-content: space-around;
}

.delete_card{
  background-color: rgba(255, 255, 255, 0.001);
  border: none;

}
.plus {
  display: flex;
}

.button_plus {
  height: 120px;
  width: 58px;
  background-color: rgb(123, 26, 198);
  color: rgba(232, 231, 231, 1);
  border: none;
  border-radius: 8px;
  font-size: 52px;
  font-weight: 100;
  margin-left: 30px;
  margin-top: 25px;
}

.plus h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: rgba(113, 113, 113, 1);
  margin-top: 50px;
  margin-left: 30px;
}

.categories {
  width: 900px;
  height: 50%;
  display: block;
  background-color: rgba(232, 231, 231, 1);
  font-family: "Montserrat", sans-serif;
  margin: auto;
  margin-top: 30px;
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: right;
}

.buttons button {
  background-color: rgb(123, 26, 198);
  font-family: "Montserrat", sans-serif;
  color: rgba(232, 231, 231, 1);
  border: none;
  border-radius: 8px;
}

.mini_plus {
  width: 40px;
  height: 40px;
  font-size: 52px;
  font-weight: 100;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 260px;
  height: 40px;
  margin-right: 20px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
}

.calendar img {
  width: 32px;
  height: 32px;
  font-weight: 400;
  filter: invert(100%);
  margin-top: 3px;
  margin-left: 10px;
}

.calendar span {
  margin-top: 7px;
  margin-left: 10px;
}

.diaram_and_inf {
  display: flex;
}

.diagram {
  width: 490px;
  margin-top: 20px;
  margin-left: -40px;
}

.categories_inf {
  width: 473px;
  height: 235px;
  padding-right: 10px;
  overflow-y: scroll;
  background-color: rgba(217, 217, 217, 1);
  margin-top: 20px;
  margin-right: 30px;
  border-radius: 8px;
  position: relative;
  align-items: center;
  padding-bottom: 10px;
}

.block{
  width: 420px;
  height: 47px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}

.block:hover {
  transform: rotateY(180deg);
}

.block:hover .front {
  display: none;
}

.front{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 47px;
  border-radius: 8px;
  border: 2px;
  background-color: rgba(232, 231, 231, 1);
}
.front:hover {
  transform: rotateY(180deg);
}

/* .front img {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  margin-top: 7px;
} */

.front span {
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin-left: 20px;
  margin-top: 5px;
}

.front h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  line-height: 2;
  position: absolute;
  right: 30px;
}

.back {
  display: none;
  background-color: rgba(196, 197, 196, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  position: absolute;
  border: none;
  border-radius: 8px;
  width: 100%; 
  height: 100%; 
}

.block:hover .back {
  display: flex;
  transform: rotateY(-180deg);
}

.place {
  margin-left: 10px;
}

.date{
  position: relative;
  margin-left: 50px;
}

.back h6 {
  margin: 0;
  line-height: 2;
  position: absolute;
  right: 30px;
  font-size: 16px;
}

.scroll {
  width: 40px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: rgb(123, 26, 198);
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 47%;
}

.scroll img {
  width: 40px;
  filter: invert(100%);
  transform: rotate(90deg);
}

.choseCategory {
  width: 476px;
  height: 413px;
  border-radius: 8px;
  border: none;
  background-color: rgba(232, 231, 231, 1);
  margin: auto;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

body.dialog-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dialog_header {
  display: flex;
}

.dialog_header h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin-left: 10px;
}

.close {
  background-color: rgba(232, 231, 231, 1);
  border: none;
  background-color: transparent;
}

.close img {
  height: 13px;
  width: 16px;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: rgba(113, 113, 113, 1);
}

.buttons_category {
  display: block;
}

.button_category {
  width: 193px;
  height: 47px;
  border-radius: 8px;
  display: flex;
  margin: 10px;
}

.two_buttons {
  display: flex;
}

.button_category img {
  width: 32px;
  height: 32px;
  margin-top: 5px;
}

.button_category span {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: rgba(113, 113, 113, 1);
}

.add {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(232, 231, 231, 1);
  background-color: rgba(123, 26, 198, 1);
  border-radius: 8px;
  border: none;
  width: 124px;
  height: 48px;
  position: absolute;
  margin-left: 150px;
  margin-top: 30px;
}

.clearHistory {
  width: 476px;
  height: 200px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 8px;
  overflow: hidden;
}

.deleteAcount {
  width: 476px;
  height: 211px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 8px;
}

.logOut {
  width: 476px;
  height: 211px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 8px;
}

.сontent {
  width: 300px;
  margin-left: 50px;
  position: relative;
}

.сontent button {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(232, 231, 231, 1);
  background-color: rgba(123, 26, 198, 1);
  border-radius: 8px;
  border: none;
  width: 124px;
  height: 48px;
  position: absolute;
  margin-top: 10px;
  margin-left: 100px;
}
.card-container{display: flex;}
