*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body,
html {
  height: 100%;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.menu {
  width: 30%;
  height: 100%;
  background-color: black;
}

.main {
  width: 70%;
  height: 100%;
  background-color: rgba(217, 217, 217, 1);
}

.circle::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 140px;
  height: 140px;
  background: radial-gradient(
    rgba(123, 26, 198, 1) 20%,
    rgba(16, 16, 16, 1) 70%
  );
  border-radius: 50%;
  margin-top: -3%;
  margin-left: 2%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  color: rgba(217, 217, 217, 1);
  margin-top: 49px;
  margin-left: 77px;
  position: relative;
}

.top {
  margin-top: 100px;
  margin-left: 50px;
}

.bottom {
  margin-top: 200px;
  margin-left: 50px;
}

.button_menu {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 300px;
  height: 58px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  color: rgb(232, 231, 231);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.active {
  background-color: rgb(123, 26, 198);
}

.pasive {
  background-color: rgb(0, 0, 0);
}

.button_menu img {
  font-weight: 400;
  width: 32px;
  height: 32px;
  filter: invert(100%);
  margin-left: 10px;
}

.button_menu span {
  margin-left: 15px;
}

.link {
  display: flex;
}

.clear {
  margin-top: 200px;
}

.main {
  width: 1100px;
  height: 100%;
}

header {
  display: block;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 1);
  font-size: 32px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 84px;
  background-color: rgba(232, 231, 231, 1);
}

header h2 {
  margin-top: 20px;
  margin-left: 60px;
  font-weight: 500;
  font-size: 30px;
}

.notification {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: rgb(123, 26, 198);
  border: none;
  margin-top: 15px;
  margin-left: 70%;
}

.notification img {
  font-weight: 400;
  filter: invert(100%);
  height: 32px;
  width: 32px;
  margin: auto;
}

.comparison_chart {
  display: block;
  width: 930px;
  height: 35%;
  background-color: rgba(232, 231, 231, 1);
  font-family: "Montserrat", sans-serif;
  margin: auto;
  margin-top: 30px;
  border-radius: 8px;
}

.header_chart {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin-left: 20px;
  padding-top: 20px;
}

hr {
  margin-top: 10px;
}

.calendar {
  width: 260px;
  height: 40px;
  margin-right: 20px;
  display: flex;
  font-size: 16px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(123, 26, 198);
  border-radius: 8px;
  border: none;
  color: rgb(232, 231, 231);
  margin-top: 10px;
}

.calendar img {
  width: 32px;
  height: 32px;
  font-weight: 400;
  filter: invert(100%);
  margin-top: 3px;
  margin-left: 20px;
}

.calendar span {
  margin-top: 7px;
  margin-left: 10px;
}

.diagram {
  display: flex;
  margin-left: 30%;
  width: 350px;
  margin-top: 20px;
}

.diagram_buttons {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin-top: -30px;
  margin-left: 65px;
}

.prev {
  width: 40px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(113, 113, 113, 1);
  border-radius: 8px;
  border: none;
  color: rgb(232, 231, 231);
  filter: invert(100%);
}

.prev img {
  transform: rotate(180deg);
}

.next {
  width: 40px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(113, 113, 113, 1);
  border-radius: 8px;
  border: none;
  color: rgb(232, 231, 231);
  filter: invert(100%);
}

.financial_and_category_container {
  display: flex;
  flex-direction: column;
}

.financial_and_category {
  width: 440px;
  height: 350px;
  background-color: rgba(232, 231, 231, 1);
  border-radius: 8px;
  margin-top: 30px;
  margin-left: 50px;
}

.right {
  margin-left: 50px;
}

.header_financeal_and_category {
  display: flex;
  justify-content: space-between;
}

hr {
  margin-top: 10px;
}

.dropbtn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  width: 88px;
  height: 28px;
  background-color: rgb(123, 26, 198);
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  color: rgba(217, 217, 217, 1);
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
}

.button_content {
  display: flex;
}

.button_content span {
  margin-top: 5px;
  text-align: center;
}

.button_content img {
  width: 20px;
  height: 20px;
  filter: invert(100%);
  transform: rotate(90deg);
  margin-left: 10px;
  margin-top: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  align-items: center;
  background-color: #f9f9f9;
  min-width: 88px;
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  height: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  border: 2px;
  border-color: rgba(232, 231, 231, 1);
}

.dropdown-content a:hover {
  background-color: rgb(123, 26, 198);
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(123, 26, 198);
}

.diagram_wrapper {
  display: flex;
}

.diagram_doughnut {
  width: 400px;
  margin-top: 20px;
  margin-left: -50px;
}
.diagram_text {
  margin-left: -60px;
  margin-top: 20px;
}

.text_diagram {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(113, 113, 113, 1);
  margin-top: 40px;
}
.text_diagram span {
  font-weight: 600;
  color: black;
}

.categories_inf {
  width: 473px;
  height: 230px;
  margin-top: 20px;
  margin-right: 30px;
  border-radius: 8px;
  position: relative;
  align-items: center;
}

.category {
  display: flex;
  align-items: center;
  position: relative;
  width: 380px;
  height: 47px;
  border-radius: 8px;
  border: 2px;
  background-color: rgba(232, 231, 231, 1);
  margin-top: 10px;
  margin-left: 30px;
}

.category img {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  margin-top: 7px;
}

.category span {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-left: 20px;
  margin-top: 10px;
  line-height: 2;
}

.category h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  line-height: 2;
  position: absolute;
  right: 30px;
}

.scroll {
  width: 50px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: rgba(232, 231, 231, 0);
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-top: 5px;
  margin-left: 200px;
}

.scroll img {
  width: 80px;
  transform: rotate(90deg);
}

body.dialog-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dialog_header {
  display: flex;
}

.dialog_header h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin-left: 10px;
}

.close {
  background-color: rgba(232, 231, 231, 1);
  border: none;
  background-color: transparent;
}

.close img {
  height: 13px;
  width: 16px;
}

.clearHistory {
  width: 476px;
  height: 188px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 8px;
}

.deleteAcount {
  width: 476px;
  height: 211px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 8px;
}

.logOut {
  width: 476px;
  height: 211px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 8px;
}

.сontent {
  width: 300px;
  margin-left: 50px;
  position: relative;
}

.сontent button {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(232, 231, 231, 1);
  background-color: rgba(123, 26, 198, 1);
  border-radius: 8px;
  border: none;
  width: 124px;
  height: 48px;
  position: absolute;
  margin-top: 10px;
  margin-left: 100px;
}