{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href={% static "css/verification.css" %}?{% now "U" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <title>this link been used </title>
</head>
<body>

    <div class="wrapper">
        
        <div class="header">
            <div class="circle">
                <h1>Spendly</h1>
            </div>

    <h3>This link has already used! Try another one
    </h3>
        </div>
    </div>
</body>
</html>