
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email was sent!</title>
    <link rel="stylesheet" href='{% static "css/forgot_password.css" %}?{% now "U" %}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<body>
 <div class="wrapper">
     <a class="prev" href={% url 'password_reset' %}>
          <img class="prev" src={% static "img/pngwing.com.png" %} alt="">
             </a>
        <div class="circle">
            <h1>Spendly</h1>
        </div>
        <h3>Forgot password</h3>

        <h4>We emailed you. <br> Please,check your email income </h4>
        <form method="post" action="password_reset_form.html">
        <button class="action" >Continue</button>
        </form>
    </div>
</body>

</html>