{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href={% static "css/reset_password.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    
<body>
    <div class="wrapper">
        <img class="prev" src={% static "img/pngwing.com.png" %} alt="">
        <div class="circle">
            <h1>Spendly</h1>
        </div>
        <br>
        <br>
        <h3>Reset password complete!</h3>
        <h3>Now you can log in</h3>
      <a href={% url 'login' %}>
            <button class="action" type="submit">Log in</button>
      </a>
    </div>
</body>
</html>