{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href={% static "css/reset_password.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    
<body>
    <div class="wrapper">
     <a class="prev" href={% url 'password_reset' %}>
        <img class="prev" src={% static "img/pngwing.com.png" %} alt="">
     </a>
        <div class="circle">
            <h1>Spendly</h1>
        </div>
        <h3>Reset password</h3>
        <form method="post" class="card">
	  {% csrf_token %}
           
            <input type="password" id="id_new_password1" name="new_password1" placeholder="Enter new password" required><br>

            <input type="password" id="id_new_password2" name="new_password2" placeholder="Retype new password" required><br>

	  <div>
	  </div>
        <button class="action">Continue</button>
        </form>
    </div>
</body>
</html>