{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static "css/forgot_password.css" %}?{% now "U" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

<body>
  <div class="wrapper">
      <a class="prev" href={% url 'login' %}>
        <img class="prev" src={% static "img/pngwing.com.png" %} alt="">
      </a>
        <div class="circle">
            <h1>Spendly</h1>
        </div>
        <h3>Forgot password</h3>

        <h4>Don’t worry. <br>Enter your email and we’ll send you a <br> link to reset your password.</h4>
        <form method="post">
        {% csrf_token %}
            <div class="email">
                {{ form.as_p }}
                
            </div>
        <button class="action">Continue</button>
        </form>
    </div>
</body>

</html>