{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <link rel="stylesheet" href={% static "verification.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

<body>
    <div class="wrapper">

        <img class="prev" src="./img/pngwing.com.png" alt="">
        <div class="header">
            <div class="circle">
                <h1>Spendly</h1>
            </div>

            <h3>Verification</h3>
        </div>
        <div class="verification">
            <h2>Enter your Verification Code</h2>
            <div class="code">
                <img class="circle_img" src="./img/circle.png" alt="">
                <img class="circle_img" src="./img/circle.png" alt="">
                <img class="circle_img" src="./img/circle.png" alt="">
                <img class="circle_img" src="./img/circle.png" alt="">
                <img class="circle_img" src="./img/circle.png" alt="">
                <img class="circle_img" src="./img/circle.png" alt="">
            </div>

            <h4>We send verification code to your email <br>
                <span>example*****@gmail.com</span>. You can check your inbox.
            </h4>

            <a href="">You didn’t receive the code? Send again</a>
        </div>

        <button class="action">Sign up</button>

    </div>
</body>

</html>