{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <link rel="stylesheet" href={% static "css/verification.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<body>
    <div class="wrapper">
        
        <div class="header">
            <div class="circle">
                <h1>Spendly</h1>
            </div>

            <h3>Verification</h3>
        </div>
        <div class="verification">
            <h2>Check your inbox</h2>
            <div class="code">
            </div>
                <h4>We send verification link to your email <br>
                 <span>{{ email }}</span>
                <br> If the email was not sent, check if you typed it correctly
            </h4>
        </div>
        <div class="button_div">
            <a href={% url 'sign-up' %}>
            <button class="action">Sign up</button>
            </a>
        </div>
       

    </div>
</body>

</html>